body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding: 4vh;
}

input {
  border: solid 1px black;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

td,
th {
  padding-right: 5vh;
  padding-top: 2vh;
  text-align: left;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-delete {
  color: #fff;
  background-color: #cf000f;
  border-color: #cf000f;
}

.quantity {
  margin: 0 5px;
}

#calc {
  margin-top: 8vh;
  margin-bottom: 0;
}
